.search-form {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b7f2c0;
  border: medium solid rgb(184, 209, 184);
}

.search-input {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 50px;
  padding: 15px 30px;
  border: medium solid rgb(184, 209, 184);
  border-radius: 15px;
  line-height: 30px;
  font-size: 18px;
}

.search-btn {
  display: block;
  width: 55px;
  height: 50px;
  cursor: pointer;
  border-radius: 15px;
  border: medium solid rgb(184, 209, 184);
  background-color: #e0efb0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-btn:hover {
  background-color: rgb(240, 240, 240);
}

.thumb {
  position: relative;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  width: 35%;
  height: 50px;
}

.thumb > .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
